
.card{
  border-radius:0.5rem;
  margin-bottom: 30px;
  text-decoration: none;
  display: flex;
}

.container{
  margin-top: 30px;

}
.container h3{
  display: flex;
  justify-content: center;
}

.avatar {
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ccc;
  border-radius: 50%;
  font-family: sans-serif;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}

ul{
  text-decoration: none;
  list-style-type: none;
}
ul li {
  margin:0.75rem 0rem;
  padding: 0%;
  
}